<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" backupGlobals="false" bootstrap="tests/bootstrap.php" colors="true" processIsolation="false" stopOnFailure="false" failOnWarning="false" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/11.5/phpunit.xsd">
  <source>
    <include>
      <directory suffix=".php">src</directory>
    </include>
    <exclude>
      <directory suffix=".php">src/DomainEvent/Attribute</directory>
      <directory suffix=".php">src/Aggregate/Attribute</directory>
      <file>src/Aggregate/Exception/AggregateException.php</file>
      <file>src/Aggregate/Exception/MissingEventHandlerException.php</file>
      <file>src/Aggregate/Exception/EventMismatchException.php</file>
      <file>src/Aggregate/Exception/AggregateEventVersionMismatchException.php</file>
      <file>src/Repository/EventSourcedRepositoryException.php</file>
      <file>src/EventSourcingException.php</file>
      <file>src/Repository/AggregateExtractor/Exception/ReflectionPropertyExtractorException.php</file>
      <file>src/Repository/AggregateExtractor/Exception/ExtractorException.php</file>
    </exclude>
  </source>
  <coverage/>
  <testsuites>
    <testsuite name="file-storage">
      <directory suffix="Test.php">tests/</directory>
      <exclude>tests/Unit/Repository/AggregateExtractor/AbstractAggregateExtractorTest.php</exclude>
    </testsuite>
  </testsuites>
  <!--
    <logging>
        <log type="coverage-text" target="php://stdout" showUncoveredFiles="true"/>
        <log type="coverage-clover" target="coverage.xml" showUncoveredFiles="true"/>
    </logging>
    -->
</phpunit>
